# Don't include Git/GitHub metadata in release tarballs
.gitattributes	export-ignore
.gitignore	export-ignore
/.github	export-ignore

# Fixtures are currently only used by GitHub Actions.  Omit from release
# tarballs.
/fixtures	export-ignore
